section#author
    .container
        h3 О тренере
        .video_wrapper(data-youtube="kNKvisBtXJo")
            img(src="img/about.jpg", alt="Видео о Викторе Толстикове")
        .about_container
            h4 Виктор Толстиков
            p Виктор из той редкой породы экспертов, которые не любят цитировать книги и абстрактные теории, а делятся только своим практическим опытом и той информацией, которая даёт желаемые результаты в реальной жизни.
            p Так, например, Виктор в 19 лет самостоятельно смог избавиться от тяжелого недуга с помощью самогипноза. А благодаря своей авторской методике, сумел похудеть на 23 кг за одно лето. Покончил с алкоголем и табаком, после более чем 10 лет злоупотреблений.
            p Много времени провёл в путешествиях по местам силы, полгода прожил в юго-восточной азии, учился у хранителей различных традиций и культов (шаманизм, магия, ведовство, суфизм, славянская и индийская йога и многое другое)
            p Благодаря своему богатейшему опыту и уникальным знаниям, Виктор помог раскрыть потенциал, улучшить качество жизни и воплотить сокровенные мечты в реальность сотням людей на “живых” мероприятиях и тысячам человек в интернете.
        .clearfix
        .row
            .col-md-6.col-sm-6
                ul.about_list
                    li
                        span Генеральный продюсер крупнейшего центра развития человека
                    li
                        span Тренер специализированных программ международного уровня
                    li
                        span Потомственный колдун и маг ряда культов
                    li
                        span Исследователь мест силы и паранормальных феноменов

            .col-md-6.col-sm-6
                ul.about_list
                    li
                        span Мастер-практик по нейро-логическому программированию
                    li
                        span Практикующий нео-шаман (посвящен в 3 традиции шаманизма)
                    li
                        span Инструктор по славянской системе “Ведасонь”
                    li
                        span Постоянный гость на ведущих российских телеканалах
        a(href="/", target="_blank").button Партнерская программа

