mixin reason(p,span)
    .col-md-3.col-sm-3.col-sx-6.reason
        .reason_img
        p= p
            span= span

section#for_whome
    .container
        h3 Этот онлайн интенсив для Вас:
        #reasons
            .row.row_first
                +reason('Если Вы уже безумно устали','от хронической нехватки денег и постоянного невезения в своих делах')
                +reason('Жаждите активировать свой поток изобилия','с помощью дистанционных сеансов энергоинформационного воздействия')
                +reason('Вам надоело чужое негативное влияние','чтобы Вы не делали — как буд-то кто-то или что-то всё время мешает Вашему счастью')
                +reason('Мечтаете воплощать свои желания','за счет активации своей жизненной силы и наполнения чистой энергией')
            .row.row_second
                +reason('У Вас нету больше сил терпеть','синдром хронической усталости, стресс и невозможность раскрыть свой потенциал')
                +reason('Стремитесь раскрыть сверх способности','благодаря специальным гипнотическим аудио программам и аффирмациями')
                +reason('Не можете избавиться от убивающих Вас','вредных привычек, избыточного веса, страхов болезней, одинокой старости и смерти')
                +reason('Жаждете исцелиться и укрепить здоровье','с помощью мощнейшей технологии аудио-визуального кодирования')
            .row.row_third
                .col-md-3.col-sm-3.col-sx-6.reason
                +reason('Не получается найти знания','которые быстро и просто избавят Вас от страданий и сделают намного счастливее')
                +reason('Хотите получить быстрый и стойкий результат','без изнурительных упражнений и долгих лет поисков и бессмысленной практики')
                .col-md-3.col-sm-3.col-sx-6.reason
        button.button(data-toggle="modal" data-target="#myModalForm") Участвовать в интенсиве