#main_screen
    .container
        h1 ЧУДОТВОРНЫЙ ГИПНОЗ 
            br
            span и энергокоррекция судьбы
        h2 Бесплатный онлайн интенсив от гуру 
            br
            | прикладной эзотерики
        .aut_n_date
            p Автор курса: 
                span Виктор Толстиков
            p Даты проведения: 
                span с 23 по 26 апреля  19:00 мск
        .video_wrapper
            iframe(src="https://www.youtube.com/embed/?rel=0&autoplay=0", allowfullscreen)
        img(src="img/victor_main.png", alt="Виктор Толстиков")#victor_main