mixin day(h4, h4_span,p_span,...items)
    .plan_wrapper
        .plan_container
            .plan_img
            .plan_descript
                h4= h4
                    span= h4_span
                ul
                    each item in items
                        li
                            span= item
                .practics 
                    p Практика: 
                    p= p_span
section#plan
    .container
        h3 Программа интенсива:
        #plan_container
            +day('ДЕНЬ 1 - ','Очищение и защита от негативной энергии','Очищающий энерго-информационный сеанс','Диагностика сглаза и порчи','Способы снятия негативного воздействия','Защита от черной магии и недоброжелателей')
            +day('ДЕНЬ 2 - ','Активация жизненной искры','Активация жизненной энергии','Определение уровня жизненной энергии','Источники энергии и хорошего самочувствия','Секреты материального благополучия')
            +day('ДЕНЬ 3 - ','Пробуждение личной силы','Гипнотические установки на пробуждение внутренней силы','Развитие уверенности в себе и силы воли','Устранение внутренних ограничений','Управление деньгами, временем и событиями')
            +day('ДЕНЬ 4 - ','Активация скрытых способностей','Энерго-информационный сеанс и гипнотические установки на активацию скрытых резервов организма','Поиск талантов и скрытых способностей','Механизмы самоисцеления организма','Воздействие на людей силой мысли')
        button.button(data-toggle="modal" data-target="#myModalForm") Участвовать в интенсиве