section#responses
    h3 Отзывы учеников
    .container
        .carousel.slide#carousel_video(data-ride="carousel" data-interval="false")
            #controls
                a.left.carousel-control(href="#carousel_video" role="button" data-slide="prev") &larr;
                a.right.carousel-control(href="#carousel_video" role="button" data-slide="next") &rarr;
            .carousel-inner(role="listbox")
                .item.active
                    .video_wrapper(data-youtube="LFXeJG-Dkp8")
                        img(src="img/video_1.jpg", alt="Видео-отзыв 1")
                .item
                    .video_wrapper(data-youtube="WIQP7_xxVW0")
                        img(src="img/video_2.jpg", alt="Видео-отзыв 2")
                .item
                    .video_wrapper(data-youtube="Gqfg63CiVvs")
                        img(src="img/video_3.jpg", alt="Видео-отзыв 3")
                .item
                    .video_wrapper(data-youtube="HbNXQ32DUrk")
                        img(src="img/video_4.jpg", alt="Видео-отзыв 4")
                .item
                    .video_wrapper(data-youtube="c2K-00Q_8P0")
                        img(src="img/video_5.jpg", alt="Видео-отзыв 5")
                .item
                    .video_wrapper(data-youtube="3rDWv8c7Ulg")
                        img(src="img/video_6.jpg", alt="Видео-отзыв 6")
                .item
                    .video_wrapper(data-youtube="pD75WToPd0s")
                        img(src="img/video_7.jpg", alt="Видео-отзыв 7")