#footer
	background: #002030
	position relative
	padding: 32px 0
	text-align: center
	&:before
		content: ''
		position: absolute
		background-color: transparent
		border-top: 2px dashed #e1a20a
		width: 100%
		height: 1px;
		left 0
		right 0
		top 10px
	h5
		font-size: 24px;
		font-family: "GeometriaBold", sans-serif;
		color: rgb(255, 252, 252);
		line-height: 1
		margin-bottom: 20px;
	p
	#conditions
		font-size: 14px;
		font-family: "Geometria", sans-serif;
		color: rgb(254, 254, 254);
		line-height: 1.7
		margin-bottom: 3px;
	#conditions
		text-decoration underline
		&:hover
		&:focus
			text-decoration none

.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 0 18px 20px
		position relative
		z-index: 1
		.fa
			width: 30px;
			height: 30px;
			background-color #e2a40b
			box-shadow 0 5px 11px 0 rgba(#000000, .15)
			color #002030
			font-size 20px
			line-height 30px
			border-radius 50%
			transition: all .3s ease
			&:hover
				background-color: #FFBA0C
				transition: all .3s ease
.modal-content
	background-color: #116576
	background-image: -moz-linear-gradient( 176deg, rgb(0,74,92) 0%, rgb(41,149,165) 50%, rgb(0,67,85) 100%);
	text-align center
	padding 20px
.modal-wrapper
	padding: 10px
	border 2px dashed #e1a20a
	h4
		font-family: "GeometriaBold" sans-serif
		font-size: 24px
		color: #fff
	p
		font-size: 18px;
		font-family: "Geometria", sans-serif;
		color: #fff
		line-height: 1.2;
		text-align center
		margin-top: 0
		margin-bottom: 20px
		&.conf
			font-size: 12px
			margin: 15px auto 0
	.form_newsletter
		display: block
		height auto
		h4
			text-align: center
			margin-bottom: 10px
		p
			font-size: 28px;
		.infront_submit,
		.span_phone
			font-size: 18px
			margin-bottom 20px
			color: #fff
		.email-block input,
		.phone-block input,
		.email-block input:focus,
		.phone-block input:focus
			margin 0 auto 20px
			width: 359px
	.close
		position absolute
		border 0
		border-radius 50%
		width 20px
		height 20px
		font-size 20px
		line-height 22px
		right: 36px;
		top: 36px;
		z-index 999
		padding: 0;
		text-align: center;
		&:hover
			background: rgb(22,21,17)
			color: #fff
			border: 1px solid #eee
			line-height 20px
.conf
	color: #eee;
	text-align: center;
	font-size: 12px
	margin: 15px auto 0;
	cursor: pointer;
	width: 200px;