#main_section
	width: 100%
	background-image url(../img/main_bg.jpg)
	background-position bottom center
	background-size cover
	background-repeat no-repeat
	padding-bottom: 35px
	overflow hidden
#header
	padding: 25px 20px 10px
	overflow hidden
#logo
	float: left
.contacts
	float: right
	text-align: right
	padding-right: 15px;
	position relative
	z-index 9
	.fa
		color: #edb712
		font-size: 20px
		margin: 0 15px 0  40px
		&.fa-phone
			margin-left: 0
	.fa+span
		font-size: 18px;
		font-family: "OpenSansBold", sans-serif
		color: #fff
		line-height: 26px
		text-align: right;
		&:hover
			text-decoration underline
#main_screen
	.container
		position relative
		.video_wrapper
			width: 40%;
			margin: 35px 0 0;

h1
	font-size: 40px;
	font-family: "GeometriaBold", sans-serif;
	color: rgb(237, 183, 18);
	line-height: 1.15;
	margin: 37px 0 16px;
	span
		color: #fff
h2
	font-size: 27px;
	font-family: "GeometriaMedium", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.15
	position relative
	&:after
		content: ''
		display block
		width: 79px
		height 4px
		background-color: #edb712
		margin: 19px 0 11px;
.aut_n_date
	p
		font-size: 22px;
		font-family: "GeometriaMedium", sans-serif;
		color: rgb(255, 255, 255);
		line-height: 1.4
		span
			color #edb712
#victor_main
	position: absolute
	bottom: -42px;
	right: -21px;
	z-index: 0