#plan
    padding: 90px 0
    width: 100%
    background-image url(../img/plan_bg.jpg)
    background-position center
    background-size cover
    background-repeat no-repeat
    h3
        color #f8f8f9

.plan_wrapper
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 9.92px 6.08px rgba(0, 0, 0, 0.26);
    width: 945px;
    height: 253px;
    margin: 0 auto 25px
    padding: 10px

.plan_container
    padding: 15px
    border 1px dashed rgb(225, 162, 10);
    border-radius: 5px;
    width: 100%
    height: 100%
    overflow hidden

.plan_img
    height 100%
    width: 197px
    background-image url(../img/days.jpg)
    background-position: 0 center
    background-repeat no-repeat
    margin 0 57px 0 10px
    float left

.plan_descript
    float left
    width: 628px;
    h4
        font-size: 20px;
        font-family: "GeometriaBold", sans-serif;
        color: rgb(0, 36, 52);
        line-height: 1.2;
        margin:16px 0 20px
        position relative
        span
            color #2792a2
        &:after
            content: ''
            display block
            width: 72px
            height 4px
            background-color #edb712
            left 0
            bottom: 0
            margin-top: 4px
    ul
        margin-left: 22px
        li
            font-size: 18px;
            font-family: "Geometria", sans-serif;
            line-height: 1.2
            padding-left: 0
            margin-bottom: 8px
            color #2792a2
            span
                color: rgb(49, 49, 49);
.practics
    display: table
    font-size: 18px;
    line-height: 1.8
    p:first-child
        display: table-cell
        font-family: "GeometriaBold", sans-serif;
        color: rgb(39, 146, 162);
    p:last-child
        display: table-cell
        color: #2d2e2e
        font-family: "GeometriaItalic", sans-serif;
        line-height: 1;
        padding-left: 10px;
